ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul li {
  float: left;
  margin: 0 5px;
}
ul li a {
  text-decoration: none;
}
ul li.nav-item a:hover {
  border-bottom: 2px solid black;
}
.form-inline a.nav-link:hover {
  border-bottom: 2px solid black;
}

#GoTopBtn {
  cursor: pointer;
  font-size: 0.6em;
  position: fixed;
  text-align: center;
  z-index: 9999;
  -webkit-transition: background-color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  background-color: chartreuse;
  color: #fff;
  border-radius: 3px;
  padding-left: 11px;
  padding-right: 11px;
  padding-top: 11px;
  padding-bottom: 11px;
  right: 20px;
  bottom: 10px;
}
#GoTopBtn:hover {
  background-color: green;
}
/* login style */
::selection {
  color: #fff;
  background: #6665ee;
}

.form {
  background: #fff;
  padding: 30px 35px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.form form .form-control {
  height: 40px;
  font-size: 15px;
}
.form form .forget-pass {
  margin: -15px 0 15px 0;
}
.form form .forget-pass a {
  font-size: 15px;
}
.form form .button {
  background: #6665ee;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  transition: all 0.3s ease;
}
.form form .button:hover {
  background: #5757d1;
}
.form form .link {
  padding: 5px 0;
}
.form form .link a {
  color: #6665ee;
}
.login-form form p {
  font-size: 14px;
}
.row .alert {
  font-size: 14px;
}
a {
  color: blue;
  font-weight: bolder;
}
/*  */
